/resultados_agc_k2.csv
/resultados_agc_k3.csv
/resultados_agc_k4.csv
/resultados_df_dbscan_3000.csv
/resultados_df_dbscan_3000_40.csv
/resultados_kmeans_k2.csv
/resultados_kmeans_k3.csv
/resultados_kmeans_k4.csv
/resultados_ms.csv
